{% extends 'header.html' %}

{% block content %}
<div class="container">
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_username">Username:</label>
      <input type="text" name="username" id="id_username" required>
    </div>
    <div>
      <label for="id_password1">Password:</label>
      <input type="password" name="password1" id="id_password1" required>
    </div>
    <div>
      <label for="id_password2">Confirm Password:</label>
      <input type="password" name="password2" id="id_password2" required>
    </div>
    <div>
      <input type="submit" value="Register">
    </div>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
  </form>
  <a href="{% url 'login' %}">Have an Account? Login Here</a>

<div>
{% endblock %}
